<div class="quiz-section">
  <div id="steps">
  <div id="step1" class="step active">1</div>
  <div id="step2" class="step">2</div>
  <div id="step3" class="step">3</div>
  <div id="step4" class="step">4</div>
  <div id="step5" class="step">5</div>
  <div id="step6" class="step">6</div>
  <div id="step7" class="step">7</div>
</div>
<div id="age-question" class="question selected">
      <h2>What is your age?</h2>
      <ul>
        <li><input id="one" type="radio" name="age" value="20s"><label for="one">20s</label></li>
        <li><input id="two" type="radio" name="age" value="30s"><label for="two">30s</label></li>
        <li><input id="three" type="radio" name="age" value="40s"><label for="three">40s</label></li>
        <li><input id="four" type="radio" name="age" value="50s-or-above"><label for="four">50s or above</label></li>
      </ul>
  <button class="next-one">Next</button>
    </div>
    <div id="second-question" class="question">
      <h2>Do you struggle with:</h2>
      <ul>
        <li><input type="radio" id="cellulite" name="second-question" value="cellulite"><label for="cellulite"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Cellulite.png?v=1677090057"/>Cellulite</label></li>
        <li><input type="radio" id="stretch-marks" name="second-question" value="stretch-marks"><label for="stretch-marks"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Stretch-Mark.png?v=1677090057"/>Stretch Marks</label></li>
        <li><input type="radio" id="both" name="second-question" value="both"><label for="both"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Both.png?v=1677090057"/>Both</label></li>
      </ul>
      <button class="next-two">Next</button>
    </div>
    <div id="option-1-question-1" class="question">
      <h2>Do you have dimpling and texture on your:</h2>
      <ul>
        <li><input type="radio" id="thighs" name="option-1-question-1" value="thighs"><label for="thighs"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Thighs.png?v=1677090057"/>Thighs</label></li>
        <li><input type="radio" id="legs" name="option-1-question-1" value="legs"><label for="legs"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Legs.png?v=1677090057"/>Legs</label></li>
        <li><input type="radio" id="butt" name="option-1-question-1" value="butt"><label for="butt"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Butt.png?v=1677090057"/>Butt</label></li>
        <li><input type="radio" id="arms" name="option-1-question-1" value="arms"><label for="arms"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Arms.png?v=1677090057"/>Arms</label></li>
      </ul>
      <button class="next_one-one">Next</button>
    </div>
      <div id="option-1-question-2" class="question">
      <h2>What other cellulite treatments have you tried?:</h2>
      <ul>
        <li><input type="radio" name="option-1-question-2" id="laser-therapy" value="laser-therapy"><label for="laser-therapy"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Laser-Therapy.png?v=1677090057"/>Laser Therapy</li>
        <li><input type="radio" name="option-1-question-2" id="topical-lotions" value="topical-lotions"><label for="topical-lotions"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Cellulite.png?v=1677090057"/>Topical Lotions</li>
        <li><input type="radio" name="option-1-question-2" id="exercise" value="exercise"><label for="exercise"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Excercise.png?v=1677090057"/>Exercise</li>
        <li><input type="radio" name="option-1-question-2" id="multiple-types-of-treatments" value="multiple-types-of-treatments">
          <label for="multiple-types-of-treatments"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Multiple-Types-Of-Treatments.png?v=1677090057"/>Multiple types of treatments</li>
      </ul>
        <button class="next_one-two">Next</button>
    </div>
      <div id="option-1-question-3" class="question">
      <h2>Why did you stop using it?</h2>
      <ul>
        <li><input type="radio" name="option-1-question-3" id="costs-too-much" value="costs-too-much"><label for="costs-too-much">Costs too much</label></li>
        <li><input type="radio" name="option-1-question-3" id="burned-my-skin" value="burned-my-skin"><label for="burned-my-skin">Burned my skin</label></li>
        <li><input type="radio" name="option-1-question-3" id="didnt-work" value="didnt-work"><label for="didnt-work">Didn't work</label></li>
        <li><input type="radio" name="option-1-question-3" id="multiple-reasons" value="multiple-reasons"><label for="multiple-reasons">Multiple reasons</label></li>
      </ul>
        <button class="next_one-three">Next</button>
    </div>
    <div id="option-2-question-1" class="question">
      <h2>Do you have scarring,discoloration and stretch marks on your:</h2>
      <ul>
        <li><input type="radio" id="thighs-and-butt" name="option-2-question-1" value="thighs-and-butt"><label for="thighs-and-butt"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Butt_SM.png?v=1677775250"/>Thighs and Butt</label></li>
        <li><input type="radio" id="stomach" name="option-2-question-1" value="stomach"><label for="stomach"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Stomach_SM.png?v=1677775250"/>Stomach</label></li>
        <li><input type="radio" id="arms2" name="option-2-question-1" value="arms"><label for="arms2"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Arms_SM.png?v=1677775250"/>Arms</label></li>
      </ul>
      <button class="next_two-one">Next</button>
    </div>
      <div id="option-2-question-2" class="question">
      <h2>What other stretch mark treatments have you tried?</h2>
      <ul>
        <li><input type="radio" id="laser-therapy2" name="option-2-question-2" value="laser-therapy"><label for="laser-therapy2"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Laser-Therapy.png?v=1677090057"/>Laser Therapy</label></li>
        <li><input type="radio" id="topical-lotions2" name="option-2-question-2" value="topical-lotions"><label for="topical-lotions2"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Cellulite.png?v=1677090057"/>Topical Lotions</label></li>
        <li><input type="radio" id="peels" name="option-2-question-2" value="peels"><label for="peels"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Peels_SM.png?v=1677775250"/>Peels</label></li>
        <li><input type="radio" id="multiple-types-of-treatments2" name="option-2-question-2" value="multiple-types-of-treatments"><label for="multiple-types-of-treatments2"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Multiple-Types-Of-Treatments.png?v=1677090057"/>Multiple types of treatments</label></li>
      </ul>
        <button class="next_two-two">Next</button>
    </div>
      <div id="option-2-question-3" class="question">
      <h2>Why did you stop using it?</h2>
      <ul>
        <li><input type="radio" name="option-2-question-3" id="costs-too-much2" value="costs-too-much"><label for="costs-too-much2">Costs too much</label></li>
        <li><input type="radio" name="option-2-question-3" id="burned-my-skin2" value="burned-my-skin"><label for="burned-my-skin2">Burned my skin</label></li>
        <li><input type="radio" name="option-2-question-3" id="didnt-work2" value="didnt-work"><label for="didnt-work2">Didn't work</label></li>
        <li><input type="radio" name="option-2-question-3" id="multiple-reasons2" value="multiple-reasons"><label for="multiple-reasons2">Multiple reasons</label></li>
      </ul>
        <button class="next_two-three">Next</button>
    </div>
    <div id="option-3-question-1" class="question">
      <h2>Do you have dimpling and texture on your:</h2>
      <ul>
        <li><input type="radio" id="thighs3" name="option-3-question-1" value="thighs"><label for="thighs3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Thighs_Legs_Both.png?v=1677777025"/>Thighs</label></li>
        <li><input type="radio" id="legs3" name="option-3-question-1" value="legs"><label for="legs3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Legs_Both.png?v=1677777025"/>Legs</label></li>
        <li><input type="radio" id="butt3" name="option-3-question-1" value="butt"><label for="butt3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Butt.png?v=1677090057"/>Butt</label></li>
        <li><input type="radio" id="arms3" name="option-3-question-1" value="arms"><label for="arms3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Arms_Both.png?v=1677777025"/>Arms</label></li>
      </ul>
      <button class="next_three-one">Next</button>
    </div>
    <div id="option-3-question-2" class="question">
      <h2>Do you have scarring,discoloration and stretch marks on your:</h2>
      <ul>
        <li><input type="radio" id="thighs-and-butt3" name="option-3-question-2" value="thighs-and-butt"><label for="thighs-and-butt3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Butt_SM.png?v=1677775250"/>Thighs and Butt</label></li>
        <li><input type="radio" id="stomach3" name="option-3-question-2" value="stomach"><label for="stomach3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Stomach_SM.png?v=1677775250"/>Stomach</label></li>
        <li><input type="radio" id="arms4" name="option-3-question-2" value="arms"><label for="arms4"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Arms_SM.png?v=1677775250"/>Arms</label></li>
      </ul>
      <button class="next_three-two">Next</button>
    </div>
      <div id="option-3-question-3" class="question">
      <h2>What other stretch mark and cellulite treatments have you tried?</h2>
      <ul>
        <li><input type="radio" id="laser-therapy3" name="option-3-question-3" value="laser-therapy"><label for="laser-therapy3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Laser-Therapy.png?v=1677090057"/>Laser Therapy</label></li>
        <li><input type="radio" id="topical-lotions3" name="option-3-question-3" value="topical-lotions"><label for="topical-lotions3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Cellulite.png?v=1677090057"/>Topical Lotions</label></li>
        <li><input type="radio" id="peels3" name="option-3-question-3" value="peels"><label for="peels3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Peels_SM.png?v=1677775250"/>Peels</label></li>
        <li><input type="radio" name="option-3-question-3" id="exercise3" value="exercise"><label for="exercise3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Excercise.png?v=1677090057"/>Exercise</li>
        <li><input type="radio" id="multiple-types-of-treatments3" name="option-3-question-3" value="multiple-types-of-treatments"><label for="multiple-types-of-treatments3"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Multiple-Types-Of-Treatments.png?v=1677090057"/>Multiple types of treatments</label></li>
      </ul>
        <button class="next_three-three">Next</button>
    </div>
        <div id="option-3-question-4" class="question">
      <h2>Why did you stop using it?</h2>
      <ul>
        <li><input type="radio" name="option-3-question-4" id="costs-too-much3" value="costs-too-much"><label for="costs-too-much3">Costs too much</label></li>
        <li><input type="radio" name="option-3-question-4" id="burned-my-skin3" value="burned-my-skin"><label for="burned-my-skin3">Burned my skin</label></li>
        <li><input type="radio" name="option-3-question-4" id="didnt-work3" value="didnt-work"><label for="didnt-work3">Didn't work</label></li>
        <li><input type="radio" name="option-3-question-4" id="multiple-reasons3" value="multiple-reasons"><label for="multiple-reasons3">Multiple reasons</label></li>
      </ul>
          <button class="next_three-four">Next</button>
    </div>
          <div class="question" id="option-1-ans">
            <h2>BOUNCE BACK BUNDLE</h2>
          <div class="quizimg"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Final-Offer_Complete-Skin-Recovery.png?v=1677777025"/></div>
            <div class="anstxt">Enter email for instant <b>20% Off</b> and detailed how-to-use instructions</div>
          
          </div>
          <div class="question" id="option-2-ans">
            <h2>FINAL STRETCH BUNDLE </h2>
          <div class="quizimg"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Final-Offer_Stretch-Mark.png?v=1677775250"/></div>
            <div class="anstxt">Enter email for instant <b>20% Off</b> and detailed how-to-use instructions</div>
          
          </div>
          <div class="question" id="option-3-ans">
            <h2>COMPLETE RECOVERY BUNDLE</h2>
          <div class="quizimg"><img src="https://cdn.shopify.com/s/files/1/0621/2272/1446/files/Final-Offer_Complete-Skin-Recovery.png?v=1677777025"/></div>
            <div class="anstxt">Enter email for instant <b>20% Off</b> and detailed how-to-use instructions</div>
            
          </div>
          <div class="klaviyo-form-TmWXHp quiz-qa"></div>
</div>

        <style>

    </style>
    
    <script>

  $(document).ready(function() {
    
 $(".quiz-qa").css("display", "none");
  $('#start-quiz').click(function() {
    $('#loading').show();
    setTimeout(function() {
      $('#age-question').addClass('selected');
      $('#loading').hide();
    }, 500);
  });

  $('.next-one').click(function() {
    $('#loading').show();
    if ($('input[name="age"]').is(':checked')) {
    setTimeout(function() {
      $('#age-question').removeClass('selected');
      $('#second-question').addClass('selected');
      $('.step').removeClass('active');
      $('#step2').addClass('active');
      $('#loading').hide();
    }, 500);
    } else {
        console.log('No radio button selected');
      }
  });

  $('.next-two').click(function() {
    $('#loading').show();
    if ($('input[name="second-question"]').is(':checked')) {
      $('#second-question').removeClass('selected');
      if ($('input[name="second-question"]:checked').val() === 'cellulite') {
          $('#option-1-question-1').addClass('selected');
          $('.step').removeClass('active');
          $('#step3').addClass('active');
          $('#loading').hide();
      } else if ($('input[name="second-question"]:checked').val() === 'stretch-marks') {
          $('#option-2-question-1').addClass('selected');
          $('.step').removeClass('active');
          $('#step3').addClass('active');
          $('#loading').hide();
      } else {
          $('#option-3-question-1').addClass('selected');
          $('.step').removeClass('active');
          $('#step3').addClass('active');
          $('#step7').addClass('showthis');
          $('#loading').hide();
      }
    } else {
        console.log('No radio button selected');
      }
  });

      $('.next_one-one').click(function() {
    $('#loading').show();
    if ($('input[name="option-1-question-1"]').is(':checked')) {
      $('#option-1-question-1').removeClass('selected');
      $('#option-1-question-2').addClass('selected');
          $('.step').removeClass('active');
          $('#step4').addClass('active');
      $('#loading').hide();
      } else {
        console.log('No radio button selected');
      }
  });
    $('.next_one-two').click(function() {
    $('#loading').show();
    if ($('input[name="option-1-question-2"]').is(':checked')) {
    setTimeout(function() {
      $('#option-1-question-2').removeClass('selected');
      $('#option-1-question-3').addClass('selected');
          $('.step').removeClass('active');
          $('#step5').addClass('active');
      $('#loading').hide();
    }, 500);
      } else {
        console.log('No radio button selected');
      }
  });

  $('.next_two-one').click(function() {
    $('#loading').show();
    if ($('input[name="option-2-question-1"]').is(':checked')) {
      $('#option-2-question-1').removeClass('selected');
      $('#option-2-question-2').addClass('selected');
          $('.step').removeClass('active');
          $('#step4').addClass('active');
      $('#loading').hide();
      } else {
        console.log('No radio button selected');
      }
  });
  $('.next_two-two').click(function() {
    $('#loading').show();
    if ($('input[name="option-2-question-2"]').is(':checked')) {
    setTimeout(function() {
      $('#option-2-question-2').removeClass('selected');
      $('#option-2-question-3').addClass('selected');
          $('.step').removeClass('active');
          $('#step5').addClass('active');
      $('#loading').hide();
    }, 500);
      } else {
        console.log('No radio button selected');
      }
  });
  $('.next_three-one').click(function() {
    $('#loading').show();
    if ($('input[name="option-3-question-1"]').is(':checked')) {
      $('#option-3-question-1').removeClass('selected');
      $('#option-3-question-2').addClass('selected');
          $('.step').removeClass('active');
          $('#step4').addClass('active');
      $('#loading').hide();
   } else {
        console.log('No radio button selected');
      }
  });
    $('.next_three-two').click(function() {
    $('#loading').show();
    if ($('input[name="option-3-question-2"]').is(':checked')) {
    setTimeout(function() {
      $('#option-3-question-2').removeClass('selected');
      $('#option-3-question-3').addClass('selected');
          $('.step').removeClass('active');
          $('#step5').addClass('active');
      $('#loading').hide();
    }, 500);
      } else {
        console.log('No radio button selected');
      }
  });
              $('.next_three-three').click(function() {
    $('#loading').show();
    if ($('input[name="option-3-question-3"]').is(':checked')) { 
    setTimeout(function() {
      $('#option-3-question-3').removeClass('selected');
      $('#option-3-question-4').addClass('selected');
          $('.step').removeClass('active');
          $('#step6').addClass('active');
      $('#loading').hide();
    }, 500);
                } else {
        console.log('No radio button selected');
      }
  });

  $('.next_one-three').click(function() {
    $('#loading').show();
    if ($('input[name="option-1-question-3"]').is(':checked')) { 
    setTimeout(function() {
      $('.question').removeClass('selected');
      $('#option-1-ans').addClass('selected');
          $('.step').removeClass('active');
          $('#step6').addClass('active');
      $(".quiz-qa").css("display", "block");
      console.log('1');
      $('#loading').hide();
    }, 500);
      } else {
        console.log('No radio button selected');
      }
  });

      $('.next_two-three').click(function() {
    $('#loading').show();
    if ($('input[name="option-2-question-3"]').is(':checked')) { 
    setTimeout(function() {
      $('.question').removeClass('selected');
      $('#option-2-ans').addClass('selected');
          $('.step').removeClass('active');
          $('#step6').addClass('active');
      $(".quiz-qa").css("display", "block");
      console.log('2');
      $('#loading').hide();
    }, 500);
      } else {
        console.log('No radio button selected');
      }
  });

    $('.next_three-four').click(function() {
    $('#loading').show();
    if ($('input[name="option-3-question-4"]').is(':checked')) { 
    setTimeout(function() {
      $('.question').removeClass('selected');
      $('#option-3-ans').addClass('selected');
          $('.step').removeClass('active');
          $('#step7').addClass('active');
      $(".quiz-qa").css("display", "block");
      console.log('3');
      $('#loading').hide();
    }, 500);
      } else {
        console.log('No radio button selected');
      }
  });

    setTimeout(function() {
$('input[name="email"]').change(function(event) {
  event.preventDefault()
console.log("cddd");
$(".anstxt").css("display", "none");
});
    }, 5000);
});

    </script>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}