<div class="yotpo yotpo-reviews-carousel" data-background-color="transparent" data-mode="manual" data-type="both" data-review-ids="415634273,416752077,416751726,416751875,416751986,416751660,417128640,417128601,415490738" data-show-bottomline="1" data-autoplay-enabled="1" data-autoplay-speed="3000" data-show-navigation="1">&nbsp;</div>

<style>
 span.yotpo-icon.yotpo-icon-half-star.rating-star.pull-left {
    font-size: 14px !important;
}
@media(max-width:538px) {
 
 /** .yotpo-stars {
    display: flex !important;
}

.yotpo-bottomline.pull-left.star-clickable {
    display: block !important;
} 
**/
}</style>
{% schema %}
{
"name": "YotpoCarousel",
"settings": [],
"presets": [
  {
    "name": "YotpoCarousel",
    "category": "Yotpo Reviews"
  }
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}